
<h1>Welcome to Syrus!</h1>

<p>Congratulations, if you're viewing this page Syrus has been successfully installed and is ready for use!  Assuming you're a front-end designer, all documentation needed is available within the /docs/designer/ directory and is linked below along with example pages of various template tags to show how they appear in the browser.</p>


<h4>Designer Documentation</h4>

<ol style="margin-left: 40px;">
    <li><a href="https://github.com/apexpl/syrus/blob/master/docs/designers/getting_started.md">Getting Started</a></li>
    <li><a href="https://github.com/apexpl/syrus/blob/master/docs/designers/theme_structure.md">File / Directory Structure</a>
        <ol>
            <li><a href="https://github.com/apexpl/syrus/blob/master/docs/designers/theme_structure.md#theme_structure">Theme Structure</a></li>
            <li><a href="https://github.com/apexpl/syrus/blob/master/docs/designers/theme_structure.md#body_pages">Body Content Pages</a></li>
            <li><a href="https://github.com/apexpl/syrus/blob/master/docs/designers/theme_structure.md#public_assets">Public Assets</a></li>
    </ol></li>
    <li><a href="https://github.com/apexpl/syrus/blob/master/docs/designers/variables">Variables, foreach, and if / else Tags</a></li>
    <li><a href="https://github.com/apexpl/syrus/blob/master/docs/designers/tags.md">&lt;s:...&gt; Template Tags</a></li>
    <li><a href="https://github.com/apexpl/syrus/blob/master/docs/designers/multiple_themes.md">Using Multiple Themes</a></li>
</ol><br />

<h4>Supported &lt;s:...&gt; Tags with Examples</h4>

<ul style="margin-left: 40px; class="arow_list">
    <li><a href="/tags/box">&lt;s:box&gt;</a></li>
    <li><a href="/tags/breadcrumbs">&lt;s:breadcrumbs&gt;</a></li>
    <li><a href="/tags/callouts">&lt;s:callouts&gt;</a></li>
    <li><a href="/tags/data_table">&lt;s:data_table&gt;</a></li>
    <li><a href="/tags/form">&lt;s:form&gt;</a></li>
    <li><a href="/tags/form_table">&lt;s:form_table&gt;</a></li>
    <li><a href="/tags/google_analytics">&lt;s:google_analytics&gt;</a></li>
    <li><a href="/tags/input_box">&lt;s:input_box&gt;</a></li>
    <li><a href="/tags/markdown">&lt;s:markdown&gt;</a></li>
    <li><a href="/tags/modal">&lt;s:modal&gt;</a></li>
    <li><a href="/tags/page_title">&lt;s:page_title&gt;</a></li>
    <li><a href="/tags/social_links">&lt;s:social_links&gt;</a></li>
    <li><a href="/tags/tab_control">&lt;s:tab_control&gt;</a></li>
</ul>

<p>Thank you for choosing Syrus!  If you have any questions, issues or feedback regarding Syrus, please don't hesitate to drop a note on the <a href="https://reddit.com/r/apexpl">ApexPl Reddit forum</a>.</p>

<p>Current time is ~current_time~</p>


